:root {
  --text-align-center: center;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: var(--text-align-center);
  font-family: var(--font-family);
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 48px;
  margin: 0;
}

h3 {
  color: #4d4d4d;
  font-size: 24px;
  opacity: 0.7;
  margin-bottom: 100px;
  display: block;
}

p {
  background: #f5f2fe;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

a.back-to-homepage {
  color: #d097ff;
}

.contact-me {
  background-color: #6c63ff;
  color: #fff;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-me {
  background-color: #f5f2fe;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.email-link {
  color: #6c63ff;
}

.about-paragraphs {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
